---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/***REMOVED***?client_id=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4993'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":["deluxefx"],"location":{"id":964705545},"comments":{"count":389,"data":[{"created_time":"1439749575","text":"@carlaa_carlos19","from":{"username":"pcj82","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-prn\/t51.2885-19\/10809948_732712056817517_1552837611_a.jpg","id":"232802909","full_name":"Porfirio
        Carlos"},"id":"1053018219201930469"},{"created_time":"1439854347","text":"\ud83d\ude0d","from":{"username":"fimel_anf01","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xtf1\/t51.2885-19\/12568307_840441889399803_1428046864_a.jpg","id":"1828377265","full_name":"Fimel
        Afriana Nahdah Fadiyah \ud83d\udc23"},"id":"1053897108677699142"},{"created_time":"1439854351","text":"@kusumawardani_22","from":{"username":"fimel_anf01","profile_picture":"http:\/\/scontent[...]
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/***REMOVED***?access_token=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="***REMOVED***"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4997'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":["colormesummer"],"type":"image","location":{"id":936237719},"comments":{"count":456,"data":[{"created_time":"1439941714","text":"\u0646\u0627\u064a\u0633","from":{"username":"nosa.hd","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xtf1\/t51.2885-19\/s150x150\/11820491_133303420343421_69185486_a.jpg","id":"2077126316","full_name":""},"id":"1054629995974731240"},{"created_time":"1440161718","text":"nice","from":{"username":"fateme.jn","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xft1\/t5[...]
[...]
