<div class="col-lg-12">
  <h1 class="text-primary" style=" font-size: 50px;"><span class="glyphicon glyphicon-shopping-cart" style="line-height: 30px;"></span> فروشگاه</h1>
</div>
<div class="col-lg-12">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4" style="padding-bottom: 10px;">
      <%= link_to "محصول جدید", new_management_product_path, class: "btn btn-lg btn-primary", style: "width: 100%;" %>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row">
        <div class="col-xs-3">
          <div class="dropdown" id="campaign-type-dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="campaignsdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              همه محصولات
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="campaignsdropdown">
              <li><a href="#">همه محصولات</a></li>
              <li><a href="#">محصولات موجود</a></li>
              <li><a href="#">محصولات ناموجود</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-9">
          <div class="input-group" id="campaign-search">
            <input type="text" class="form-control" placeholder="جستجوی محصولات" dir="rtl">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" style="font-size: 12px; line-height: 8px;"></span></button>
            </span>
          </div>
        </div>
        <div class="col-xs-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>شماره محصول</th>
                <th>نام</th>
                <th>دسته</th>
                <th>قیمت (سکه)</th>
                <th>وضعیت</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'shared/management/rows/product', collection: @products %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <nav>
            <ul class="pagination pagination-lg">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-1">


    </div>

  </div>
</div>
