<div class="col-lg-12">
  <h1 class="text-primary" style=" font-size: 50px;"><span class="glyphicon glyphicon-inbox" style="line-height: 30px;"></span> پیام‌ها</h1>
</div>
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row">
        <div class="col-sm-9 col-sm-push-3 col-xs-12">
          <div class="input-group" id="campaign-search">
            <input type="text" class="form-control" placeholder="جستجوی پیام">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" style="font-size: 12px; line-height: 8px;"></span></button>
            </span>
          </div>
        </div>
        <div class="col-sm-3 col-sm-pull-9 col-xs-3">
          <div class="dropdown" id="campaign-type-dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="campaignsdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              آخرین پیام‌ها
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="campaignsdropdown">
              <li><a href="#">آخرین پیام‌ها</a></li>
              <li><a href="#">خوانده‌شده</a></li>
              <li><a href="#">خوانده‌نشده</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>فرستنده</th>
                <th>خلاصه پیام</th>
                <th>فرستاده‌شده در</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'shared/management/rows/message', collection: @messages %>
            </tbody>
          </table>
          <div class="row">
            <div class="col-xs-12">
              <div class="text-center">
                <%= paginate @messages %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-1">


    </div>

  </div>
</div>
