---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/54Ie0JC6c0?access_token=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="***REMOVED***"
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      X-Ratelimit-Remaining:
      - '4995'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"error_type":"APINotFoundError","code":400,"error_message":"invalid
        media id"}}'
  recorded_at: Fri, 15 Apr 2016 21:15:56 GMT
recorded_with: VCR 3.0.1
