<tr>
  <th scope="row"><%= product_type.id %></th>
  <td><%= t(product_type.name) %></code></td>
  <td><%= link_to "ویرایش", edit_management_product_type_path(product_type), remote: true, data: { disable_with: "صبرکنید" }, class: "btn btn-xs btn-primary" %>
  <%= link_to "حذف", management_product_type_path(product_type), remote: true, method: :delete, data: { disable_with: "صبرکنید", confirm: "آیا مطمئنید که می‌خواهید این دسته را حذف‌کنید؟ با حذف دسته، تمامی محصولات زیر مجموعه نیز حذف می‌شوند." }, class: "btn btn-xs btn-danger" %></td>
</tr>
