---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/***REMOVED***?client_id=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4995'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":["deluxefx"],"location":null,"comments":{"count":390,"data":[{"created_time":"1440966151","text":"@xsevennevruz","from":{"username":"mihribanseven","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12519102_222795228089421_1582441186_a.jpg","id":"497570269","full_name":""},"id":"17850139192044745"},{"created_time":"1441199476","text":"@milad.mirani
        miiiilad in dg khod khodeti vaghti khabet miad \ud83d\ude02\ud83d\ude02 \ud83d\ude1c\ud83d\ude1c\ud83d\ude1c","from":{"username":"shabnam_parviziiii","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12479056_1770184506549534_114739272_a.jpg","id":"1559615945","full_name":"shabnaM=)"},"id":"17850152170044745"},{"created_time":"1441200034","text":"@shabnam_parviziiii
        \ud83d\ude02\ud83d\ude02\ud83d\ude02\u0639\u0648\u0636\u064a","from":{"username":"milad.mirani","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12105081_904982699585048_775459699_a.jpg","id":"501292796","full_name":"MiLAD"},"id":"17850152194044745"},{"created_time":"1441404092","text":"\ud83d\ude0d","from":{"username":"dana.jami123","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12237269_767912753337022_130291219_a.jpg","id":"1813310398","full_name":"Dana"},"id":"17850165160044745"}]},"filter":"Valencia","created_time":"1438522552","link":"https:\/\/www.instagram.com\/p\/***REMOVED***\/","likes":{"count":40907,"data":[{"username":"marioom.88","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12132715_938580746206761_965654168_a.jpg","id":"2159801997","full_name":"\u0623\u062d\u0628\u0628
        \u0645\u0646 \u0623\u062d\u0628\u0628\u062a \u0641\u0625\u0646\u0643 \u0645\u0641\u0627\u0631\u0642\u0647
        \ud83d\ude14"},{"username":"bn_ny","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12935096_888718457916892_1336070990_a.jpg","id":"569148095","full_name":""},{"username":"eden_bar2003","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12965771_1094501977237285_2101008325_a.jpg","id":"1549665706","full_name":"Eden
        Bar"},{"username":"claire_revis","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/13108858_1545143899115344_1434540829_a.jpg","id":"299717353","full_name":"curly\ud83c\udf88"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/t51.2885-15\/s320x320\/e35\/11820650_383510488514384_162151818_n.jpg?ig_cache_key=MTA0MjcyNTIwNTYwNjkwMTAwMg%3D%3D.2","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/t51.2885-15\/s150x150\/e35\/11820650_383510488514384_162151818_n.jpg?ig_cache_key=MTA0MjcyNTIwNTYwNjkwMTAwMg%3D%3D.2","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/t51.2885-15\/s640x640\/sh0.08\/e35\/11820650_383510488514384_162151818_n.jpg?ig_cache_key=MTA0MjcyNTIwNTYwNjkwMTAwMg%3D%3D.2","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1438522552","text":"Edited
        with \u2728 #DeluxeFX \u2728 app\n---\nLazy Sunday \ud83d\ude34","from":{"username":"izkiz","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12317796_966271183445455_869420690_a.jpg","id":"4140744","full_name":"izkiz
        \u2708\ufe0f\ud83c\udf0d"},"id":"17852514559044745"},"type":"image","id":"1042725205606901002_4140744","user":{"username":"izkiz","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12317796_966271183445455_869420690_a.jpg","id":"4140744","full_name":"izkiz
        \u2708\ufe0f\ud83c\udf0d"}}}'
  recorded_at: Tue, 26 Apr 2016 18:23:20 GMT
recorded_with: VCR 3.0.1
