---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/***REMOVED***?client_id=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4852'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":["deluxefx"],"location":{"id":964705545},"comments":{"count":390,"data":[{"created_time":"1439854347","text":"\ud83d\ude0d","from":{"username":"fimel_anf01","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xtf1\/t51.2885-19\/12338822_1669424236650041_56904303_a.jpg","id":"1828377265","full_name":"imel\ud83d\udc3c."},"id":"1053897108677699142"},{"created_time":"1439854351","text":"@kusumawardani_22","from":{"username":"fimel_anf01","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xtf1\/t51.2885-19\/12338822_1669424236650041_56904303_a.jpg","id":"1828377265","full_name":"imel\ud83d\udc3c."},"id":"1053897147424679497"},{"created_time":"1440522971","text":"@saba.dolat
        \ud83d\ude03","from":{"username":"yasaman238","profile_picture":"http:\/\/scontent.cdninstagram.com\/h[...]
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/dfsdgwtn4mtwmgfnkds?client_id=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Language:
      - en
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<!--[if lt IE 7]>      <html lang=\"en\" class=\"no-js
        lt-ie9 lt-ie8 lt-ie7 not-logged-in \"> <![endif]-->\n<!--[if IE 7]>         <html
        lang=\"en\" class=\"no-js lt-ie9 lt-ie8 not-logged-in \"> <![endif]-->\n<!--[if
        IE 8]>         <html lang=\"en\" class=\"no-js lt-ie9 not-logged-in \"> <![endif]-->\n<!--[if
        gt IE 8]><!--> <html lang=\"en\" class=\"no-js not-logged-in \"> <!--<![endif]-->\n
        \   <head>\n        \n    <script type=\"text/javascript\">window._timings
        = {\"domLoading\": Date.now()}</script>\n\n        <meta charset=\"utf-8\">\n
        \       <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n\n        <title>Page
        Not Found &bull; Instagram</title>\n\n        <script type=\"text/javascript\">\n
        \ WebFontConfig = {\n    custom: {\n      families: ['proxima-nova:n3,n4,n6,n7'],\n
        \   }\n  };\n</script>\n<script src=\"//instagramstatic-a.akamaihd.net/bluebar/4da1e40/scripts/webfont.js\"
        type=\"text/javascript\" async></script>\n\n<style type=\"text/css\">\n  /*
        @license\n   * MyFonts Webfont Build ID 2164953, 2012-03-23T23:06:30-0400\n
        \  *\n   * The fonts listed in this notice are subject to the End User License\n
        \  * Agreement(s) entered into by the website owner. All other parties are\n
        \  * explicitly restricted from using the Licensed Webfonts(s).\n   *\n   *
        You may obtain a valid license at the URLs below.\n   *\n   *\n   * Webfont:
        Proxima Nova Light by Mark Simonson\n   [...]
