<div class="media">
  <div class="media-left">
    <span style="font-size: 40px; color: #555;" class="glyphicon glyphicon-plus"></span>
  </div>
  <div class="media-body">
    <caption><%= time_ago_in_words(activity.created_at) %> پیش</caption>
    <p>
      <%= activity.owner.name %> محصول «<%= link_to activity.trackable.title, management_product_path(activity.trackable) %>» را ساخت.
    </p>
  </div>
</div>
