<%= simple_form_for [:management, product_type], remote: true, validate: true, html: { class: 'form-horizontal' } do |f| %>
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1">
    <%= f.input :name %>
  </div>
  <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1">
    <%= f.button :submit, class: "btn btn-primary", style: "margin-top: 32px; width: 100%;" %>
  </div>
<% end %>
