---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/***REMOVED***?access_token=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="***REMOVED***"
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"error_type":"OAuthAccessTokenException","code":400,"error_message":"The
        access_token provided is invalid."}}'
  recorded_at: Fri, 18 Dec 2015 09:08:39 GMT
recorded_with: VCR 3.0.0
