---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/***REMOVED***?access_token=465469725.5106fe6.33df8ecbd624n8f8ee39638ffd2jc671
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="465469725.5106fe6.33df8ecbd624n8f8ee39638ffd2jc671"
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"error_type":"OAuthAccessTokenException","code":400,"error_message":"The
        access_token provided is invalid."}}'
  recorded_at: Tue, 26 Apr 2016 18:23:39 GMT
recorded_with: VCR 3.0.1
