---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/***REMOVED***?client_id=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4979'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":["deluxefx"],"location":{"id":964705545},"comments":{"count":390,"data":[{"created_time":"1439854347","text":"\ud83d\ude0d","from":{"username":"fimel_anf01","profile_picture":"http:\/\/photos-b.ak.instagram.com\/hphotos-ak-xtf1\/t51.2885-19\/12338822_1669424236650041_56904303_a.jpg","id":"1828377265","full_name":"imel\ud83d\udc3c."},"id":"1053897108677699142"},{"created_time":"1439854351","text":"@kusumawardani_22","from":{"username":"fimel_anf01","profile_picture":"http:\/\/photos-b.ak.instagram.com\/hphotos-ak-xtf1\/t51.2885-19\/12338822_1669424236650041_56904303_a.jpg","id":"1828377265","full_name":"imel\ud83d\udc3c."},"id":"1053897147424679497"},{"created_time":"1440522971","text":"@saba.dolat
        \ud83d\ude03","from":{"username":"yasaman238","profile_picture":"http:\/\/photos-e.ak.instagram.com[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/***REMOVED***?access_token=325fzdvfshgdhwrrehdfv4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="325fzdvfshgdhwrrehdfv4"
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"error_type":"OAuthAccessTokenException","code":400,"error_message":"The
        access_token provided is invalid."}}'
  recorded_at: Fri, 18 Dec 2015 07:43:56 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/?client_id=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      X-Ratelimit-Remaining:
      - '4996'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"error_type":"APINotFoundError","code":400,"error_message":"invalid
        media id"}}'
  recorded_at: Fri, 15 Apr 2016 20:05:26 GMT
recorded_with: VCR 3.0.1
