<div class="media">
  <div class="media-left">
    <span style="font-size: 40px; color: #555;" class="glyphicon glyphicon-lock"></span>
  </div>
  <div class="media-body">
    <caption><%= time_ago_in_words(activity.created_at) %> پیش</caption>
    <p>
      <%= activity.owner.name %> اکانت <%= link_to "یک کاربر", management_user_path(activity.trackable) %> را قفل کرد.
    </p>
  </div>
</div>
