---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/***REMOVED***?access_token=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="***REMOVED***"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4998'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":["colormesummer"],"type":"image","location":{"id":936237719},"comments":{"count":456,"data":[{"created_time":"1439941714","text":"\u0646\u0627\u064a\u0633","from":{"username":"nosa.hd","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/11820491_133303420343421_69185486_a.jpg","id":"2077126316","full_name":""},"id":"1054629995974731240"},{"created_time":"1440161718","text":"nice","from":{"username":"fateme.jn","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12362651_152230528477225_1459000780_a.jpg","id":"2124255532","full_name":"FATEME"},"id":"1056475525839300196"},{"created_time":"1440192627","text":"Woooow!wow","from":{"username":"eszari8","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12424593_1675928469312900_871665954_a.jpg","id":"[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/***REMOVED***?client_id=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4992'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code[...]
