---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/590QzGi0Zx?client_id=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      X-Ratelimit-Remaining:
      - '4995'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"error_type":"APINotFoundError","code":400,"error_message":"invalid
        media id"}}'
  recorded_at: Fri, 29 Jan 2016 08:31:04 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/590QzGi0Zx?client_id=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      X-Ratelimit-Remaining:
      - '4993'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"error_type":"APINotFoundError","code":400,"error_message":"invalid
        media id"}}'
  recorded_at: Fri, 29 Jan 2016 08:33:22 GMT
recorded_with: VCR 3.0.0
