<div class="row">

  <ul class="nav nav-pills" style="font-size: 20px;">
    <li role="presentation"><a href="#">داشبورد</a></li>
    <li role="presentation" class="active"><a href="#">پروفایل</a></li>
    <li role="presentation"><a href="#">بسته‌ها</a></li>
  </ul>
</div>
