---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/shortcode/***REMOVED***?access_token=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="***REMOVED***"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4998'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":["colormesummer"],"type":"image","location":{"id":936237719},"comments":{"count":454,"data":[{"created_time":"1442186605","text":"\ud83d\ude0d
        @maya_322","from":{"username":"yahav.c","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12750300_1068489083214986_1355709805_a.jpg","id":"282116225","full_name":"Yahav\u2716\ufe0fCohen"},"id":"17843692894044745"},{"created_time":"1442950802","text":"Et
        si tu m''emenne l\u00e0 on est marier !!! \ud83d\udc96\ud83d\udc96\ud83d\udc96
        @alexandre_bill","from":{"username":"alexia_jcic","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12930744_917512371679918_1383633969_a.jpg","id":"402020731","full_name":"Alexia"},"id":"17843833996044745"},{"created_time":"1442950837","text":"Dis
        pas sa une deuxi\u00e8me fois ...\ud83d\udc96@alexia_jcic_","from":{"username":"alexandre_bill","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/10785085_1496812213923767_701948081_a.jpg","id":"525554677","full_name":""},"id":"17843834002044745"},{"created_time":"1442950955","text":"Alexandre,si
        tu m''emm\u00e8ne l\u00e0 bas je suis ta femme haha \ud83d\udc96\ud83d\udc96
        @alexandre_bill","from":{"username":"alexia_jcic","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12930744_917512371679918_1383633969_a.jpg","id":"402020731","full_name":"Alexia"},"id":"17843834032044745"}]},"filter":"Valencia","created_time":"1438510078","link":"https:\/\/www.instagram.com\/p\/***REMOVED***\/","likes":{"count":46525,"data":[{"username":"skyler_pearce_2000","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/11358153_508775659287206_1156739783_a.jpg","id":"363133399","full_name":"Skyler\u270c"},{"username":"sireen.walid.salah","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/11256297_365725223637960_1894342062_a.jpg","id":"1911692135","full_name":"sireenwaleedsalah"},{"username":"laiza_fonseca","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12917796_1106917969329749_810450764_a.jpg","id":"1041749742","full_name":"La\u00edza
        Maria Fonseca Almeida\ud83d\udc8e"},{"username":"dm3t__fra7","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12912854_1756847414601795_1799458010_a.jpg","id":"1701554717","full_name":""}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/t51.2885-15\/s320x320\/e35\/11420731_1451437075163975_977025466_n.jpg?ig_cache_key=MTA0MjYyMDU2NzM2MDYxMjE0OA%3D%3D.2","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/t51.2885-15\/s150x150\/e35\/11420731_1451437075163975_977025466_n.jpg?ig_cache_key=MTA0MjYyMDU2NzM2MDYxMjE0OA%3D%3D.2","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/t51.2885-15\/e35\/11420731_1451437075163975_977025466_n.jpg?ig_cache_key=MTA0MjYyMDU2NzM2MDYxMjE0OA%3D%3D.2","width":640,"height":640}},"users_in_photo":[{"position":{"y":0.532,"x":0.16},"user":{"username":"thomito12","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/10955257_770913749666292_1955502914_a.jpg","id":"273948865","full_name":"Thom
        King de Villa"}}],"caption":{"created_time":"1438510078","text":"Photo by
        \u21dd @thomito12 selected from #ColorMeSummer\n---\n\u2600\ufe0f Share your
        colorful photos and include \u21e2 #colormesummer for a chance to be featured
        by @beautifuldestinations, @izkiz, or @deluxefx! \u2600\ufe0f","from":{"username":"izkiz","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12317796_966271183445455_869420690_a.jpg","id":"4140744","full_name":"izkiz
        \u2708\ufe0f\ud83c\udf0d\ud83d\udcf7"},"id":"17852514406044745"},"user_has_liked":false,"id":"1042620567360612148_4140744","user":{"username":"izkiz","profile_picture":"http:\/\/scontent.cdninstagram.com\/t51.2885-19\/s150x150\/12317796_966271183445455_869420690_a.jpg","id":"4140744","full_name":"izkiz
        \u2708\ufe0f\ud83c\udf0d\ud83d\udcf7"}}}'
  recorded_at: Fri, 15 Apr 2016 21:15:52 GMT
recorded_with: VCR 3.0.1
